/*/*/*
*.ipynb
!/predict/mlp/train.py
!/predict/mlp/train_data.py
!/pretrain/bt/train.py
!/predict/n_ak/train.py
!/predict/n_ak/feature_ml.py
!/src/*/*
!/pretrain/VICRegL/*

__pycache__/
result
results
pjs